
<!DOCTYPE html>
<html>
<head>
<meta charset = "utf-8">
<title>Vue</title>
<link href="index.css" rel="stylesheet"/>
<script src="https://unpkg.com/vue"></script>
</head>
<body>


<div id="vue-app">

<h1>Vue</h1>

<label>Name:</label>
<input type="text" v-model="name"/>
<span>{{name}}</span>
<br></br>
<label>Surname:</label>
<input type ="text" v-model="surname"/>
<span>{{surname}}</span>
<br></br>
<label>Fullname:</label>
<span>{{fullname}}</span>

</div>

<script src="app.js"></script>


</body>
</html>